body {
    width: 100%;
    height: 100%;
    background-image: url(../picture/desktop.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    overflow: hidden;

}

#howMany {
    position: absolute;
    left: 0;
    top: 30px;
    font-family: Chalkduster, Helvetica, sans-serif;
}

#open {
    position: absolute;
    left: 120px;
    top: 120px;
    border-style: none;
    width: 75px;
    height: 75px;
    background-image: url(../picture/start.png);
    background-color: #1c5e1f;
    background-repeat: no-repeat;
    background-size: cover
}

#househit {
    position: absolute;
    left: 195px;
    top: 120px;
    border-style: none;
    width: 75px;
    height: 75px;
    background-image: url(../picture/hit.png);
    background-color: #1c5e1f;
    background-repeat: no-repeat;
    background-size: cover;
    visibility: hidden;
}

#restart {
    position: absolute;
    left: 270px;
    top: 120px;
    border-style: none;
    width: 75px;
    height: 75px;
    background-image: url(../picture/restart.png);
    background-color: #1c5e1f;
    background-repeat: no-repeat;
    background-size: cover;
    visibility: hidden;
}

#fiveSecond {
    position: absolute;
    left: 0;
    top: 50px;
    font-size: 30px;
    color: red;
    font-family: Chalkduster, Helvetica, sans-serif;
}

#player0, #player4 {
    position: relative;
    bottom: 65px;
    height: 373px;
}

#player1 {
    position: relative;
    top: 8px;
    height: 373px;
}

#player2 {
    position: relative;
    top: 40px;
    height: 373px;
}

#player3 {
    position: relative;
    top: 8px;
    height: 373px;
}

#betValue0, #betValue1, #betValue2, #betValue3, #betValue4 {
    position: relative;
    left: 50px;
    bottom: 40px;
    color: navajowhite;
    font-family: Chalkduster, Helvetica, sans-serif;
}

#moneyInput0, #moneyInput1, #moneyInput2, #moneyInput3, #moneyInput4 {
    position: relative;
    width: 60px;
    left: 140px;
    bottom: 70px;
    color: red;
    font-family: Chalkduster, Helvetica, sans-serif;
    visibility: hidden;
}

#get0, #get1, #get2, #get3, #get4 {
    position: relative;
    left: 70px;
    bottom: 40px;
    border-style: none;
    width: 50px;
    height: 50px;
    background-image: url(../picture/hit.png);
    background-color: #1c5e1f;
    background-repeat: no-repeat;
    background-size: cover;

}

#pass0, #pass1, #pass2, #pass3, #pass4 {
    position: relative;
    left: 70px;

    bottom: 40px;
    border-style: none;
    width: 50px;
    height: 50px;
    background-image: url(../picture/stand.png);
    background-color: #1c5e1f;
    background-repeat: no-repeat;
    background-size: cover;
}

#imgshow0, #imgshow1, #imgshow2, #imgshow3, #imgshow4 {
    position: relative;
    bottom: 290px;
    left: 30px;
    z-index: 1;
}

#show0, #show1, #show2, #show3, #show4 {
    position: relative;
    bottom: 180px;
    left: 10px;
    font-size: 2em;
    font-family: Chalkduster, Helvetica, sans-serif;
    color: orangered;
    text-align: center;
}

#imgshowhouse {
    position: relative;
    top: 45px;
    left: 200px;
}

#showhouse {
    position: relative;
    top: 200px;
    left: 120px;
    font-size: 3em;
    font-family: Chalkduster, Helvetica, sans-serif;
    color: gold;
}

#result0, #result1, #result2, #result3, #result4 {
    position: relative;
    bottom: 150px;
    left: 90px;
    z-index: 3;
}

#bomb0, #bomb1, #bomb2, #bomb3, #bomb4 {
    position: relative;
    z-index: 2;
    width: 150px;
    height: 100px;
    bottom: 180px;
    left: 50px;
    opacity: 0;
    transition: 0.1s;
}

#bombhouse {
    position: relative;
    z-index: 2;
    width: 200px;
    height: 150px;
    right: 430px;
    top: 150px;
    opacity: 0;
    transition: 0.1s;
}

#plusBtn0 ,#plusBtn1,#plusBtn2,#plusBtn3,#plusBtn4{
    position: relative;
    left: 0px;
    bottom: 40px;
    border-style: none;
    width: 40px;
    height: 40px;
    background-color: #1c5e1f;
    background-image: url(../picture/plus.png);
    background-repeat: no-repeat;
    background-size: cover

}

#minusBtn0,#minusBtn1,#minusBtn2,#minusBtn3,#minusBtn4 {
    position: relative;
    left: 0px;
    bottom: 60px;
    border-style: none;
    width: 40px;
    height: 40px;
    background-color: #1c5e1f;
    background-image: url(../picture/minus.png);
    background-repeat: no-repeat;
    background-size: cover

}

#bet0,#bet1,#bet2,#bet3,#bet4 {
    position: relative;
    left: 5px;
    bottom: 47px;
    font-size: 1.5em;
}
